/* .sec-1 {
  width: 50%;
  position: absolute;
  left:0;
  top:0;
} */

/* -------------- FONTS  ------------------------------- */
@font-face {
  font-family: gangsterGrotesk;
  src: url(./fonts/GangsterGrotesk-Regular.otf);
}

@font-face {
  font-family: helveticaNeue;
  src: url(./fonts/Helvetica-Neue-LT-Std-53-Extended.ttf);
}

@font-face {
  font-family: universExtended;
  src: url(./fonts/Univers-93-Extra-Black-Extended.ttf);
}

@font-face {
  font-family: CosiTimes;
  src: url(./fonts/CosiTimes-Roman.otf);
}

@font-face {
  font-family: spaceMono;
  src: url(./fonts/SpaceMono-Regular.ttf);
}


/* -------------- DOT GRID BG  ------------------------------- */


.dot-grid {
  background-image: linear-gradient(transparent 0px, transparent 1px, rgb(255, 255, 255) 1px, rgb(255, 255, 255) 20px), linear-gradient(to right, rgb(200, 195, 199) 0px, rgb(200, 195, 199) 1px, rgb(255, 255, 255) 1px, rgb(255, 255, 255) 20px);
  background-position: -233px 0px;
  background-size: 5px 5px;
  min-width: 100%;
  max-height: 100vh;
  user-select: none;
}


/* -------------- IMAGE PREVIEW QUERIES ------------------------------- */


#pbp-img-preview {
  width: 100%;
  height: 100% !important;
  position:absolute;
  padding: 5%:
}


/* -------------- FIRST GRID CONTAINER -------------------------------------------- */

html, body, .grid-container { background-color: white; max-width: 100%; font-family: helveticaNeue; height:100vh; margin: 0; overflow-x: hidden;  line-height: 14px;}

  .grid-container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.8fr 1.8fr;
    grid-template-areas: "title title title title" "bio bio timeline members";
  }

  .grid-container *:after {
   position: absolute;
   top: 0;
   left: 0;
  }

 .title {
   width: 100%;
   font-family: helveticaNeue;
   font-size: 1.5em;
   margin-top: 15%;
   padding-bottom: 5%;
 }

  .time, .time-2, .bio, .members {
    font-size: 0.65em;
    line-height: 14px;
    padding: 10%;
    border: none;
  }

  .time p{
      font-weight: 1000;
      border:none;
      font-size: 1.3em;
  }

  .time-2 p {
    font-weight: 1000;
    border: none;
    font-size: 1.3em;
  }

  .members p {
    font-weight: 1000;
    font-size: 1.3em;
    border: none;
  }

  .title { grid-area: title;  border: none; }

  .bio { grid-area: bio; border: none;}

  p#title { border: none; font-size: 1.5em; padding: 0%; line-height: 17px;}

  p#valentin-title { font-size: 1.1em;}

  img#dd19 { width: 100%;}

/* -----------------    GRID CONTAINER 1      ----------------------------------- */


.grid-container * {
  /* border: 0.2px solid black; */
 position: relative;
}

/* .grid-container *:after {
 position: absolute;
 top: 0;
 left: 0;
}  */

/* .timeline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "time time time" "time-2 time-2 time-2";
  grid-area: timeline;
}

.time { grid-area: time; border: none;}

.time-2 { grid-area: time-2; border: none;} */

.grid-container-2 { height: 80%; margin: 0; }

.grid-container-2 * {
 position: relative;
}

.grid-container-2 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "b-roll-1 b-roll-1 . ." "b-roll-text b-roll-text b-roll-2 b-roll-2" "b-roll-3 b-roll-3 . .";
}

.b-roll-1 { grid-area: b-roll-1; background-image: url("./dd/b-roll-1.gif"); background-size: contain; background-repeat: no-repeat;}

.b-roll-2 { grid-area: b-roll-2; background-image: url("./dd/b-roll-2.gif"); background-size: contain; background-repeat: no-repeat; margin-top: 8%;}

.b-roll-3 { grid-area: b-roll-3; background-image: url("./dd/b-roll-4.gif"); background-size: contain; background-repeat: no-repeat;}

.b-roll-text { grid-area: b-roll-text; font-size: 0.65em; line-height: 14px;padding: 10%;}


.grid-container-3 { height: 100%; margin: 0; }

.grid-container-3 * {
 position: relative;
}

.grid-container-3 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "ix-1 ix-1 ix-blurb ix-blurb" "ix-2 ix-2 ix-2-blurb ix-2-blurb" "ix-3 ix-3 ix-blurb-3 ix-blurb-3";
}

.ix-1 { grid-area: ix-1; background-image: url("./dd/hover-interaction.gif"); background-size: cover; background-repeat: no-repeat;}

.ix-blurb { grid-area: ix-blurb; padding: 8%; font-size: 0.65em; line-height: 14px; }

.ix-2 { grid-area: ix-2; background-image: url("./dd/team-hover.gif"); background-size: cover; background-repeat: no-repeat; }

.ix-2-blurb { grid-area: ix-2-blurb; padding: 8%; font-size: 0.65em; line-height: 14px; }

.ix-3 { grid-area: ix-3; background-image: url("./dd/legacy.gif"); background-size: contain; background-repeat: no-repeat;}

.ix-blurb-3 { grid-area: ix-blurb-3; padding: 8%; font-size: 0.65em; line-height: 14px; margin-top: -5%;}


/* .grid-container-2 { height:100%; margin: 0; }

.grid-container-2 * {
  border: none;
 position: relative;
}

.grid-container-2 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "b-roll-1 b-roll-1 b-roll-text b-roll-text" "b-roll-2 b-roll-2 b-roll-text b-roll-text" "b-roll-3 b-roll-3 b-roll-text b-roll-text";
}

.b-roll-1 { grid-area: b-roll-1; background-image: url("b-roll-1.gif"); background-size: contain; background-repeat: no-repeat;}

.b-roll-2 { grid-area: b-roll-2; background-image: url("b-roll-2.gif"); background-size: contain; background-repeat: no-repeat; margin-top: 8%;}

.b-roll-3 { grid-area: b-roll-3; background-image: url("b-roll-4.gif"); background-size: contain; background-repeat: no-repeat;}

.b-roll-text { grid-area: b-roll-text; font-size: 0.65em; line-height: 12px;padding: 10%;} */

.grid-container-4 { height: 30%; margin: 0; }

.grid-container-4 * {
 position: relative;
}

.grid-container *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.4fr 0.6fr 1fr;
  grid-template-areas: "valentin valentin valentin valentin" ". . . ." ". . . .";
}

.valentin {
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.9fr;
  grid-template-rows: 0.4fr 1.6fr;
  grid-template-areas: "title-2 title-2 title-2" "vimeo vimeo vimeo";
  grid-area: valentin;
}

.title-2 { grid-area: title-2; width: 600px;font-size: 1em; color: black; padding: 1%; margin:0; }

.vimeo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." ". . .";
  grid-area: vimeo;
}

p#description { font-size: 0.65em; line-height: 14px; width: 415px;}


.grid-container-5 { height: 100%; margin: 0; }

.grid-container-5 * {
 position: relative;
}

.grid-container-5 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "v-1 v-1 v-2 v-2" "v-1 v-1 v-2 v-2" ". . . .";
}

.v-1 {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". v-3 v-3" ". v-3 v-3";
  grid-area: v-1;
  background-image: url("./dd/responsive-layout.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.v-3 { grid-area: v-3; }

.v-2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . v-4" ". . v-4";
  grid-area: v-2;
}

.v-4 { grid-area: v-4; }


/* ------------------------------------ */

/* .grid-container-6 { height: 100%; margin: 0; }

.grid-container-6 * {
 border: 1px solid red;
 position: relative;
}

.grid-container-6 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
  grid-template-rows: 1fr 0.9fr;
  grid-template-areas: "wide wide wide-2 ." "wide wide wide-2 .";
}

.wide {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1.1fr;
  grid-template-rows: 1.7fr 0.3fr;
  grid-template-areas: "wide-1 wide-1 wide-1" "wide-1-text wide-1-text wide-1-text";
  grid-area: wide;
}

.wide-1 { grid-area: wide-1;
  }

.wide-1-text { grid-area: wide-1-text; }

.wide-2 {
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 1fr;
  grid-template-rows: 1.7fr;
  grid-template-areas: "wide-2-inner wide-2-inner wide-2-inner";
  grid-area: wide-2;

}

.wide-2-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.7fr 0.3fr;
  grid-template-areas: ". . ." "wide-2-text wide-2-text wide-2-text";
  grid-area: wide-2-inner;
}

.wide-2-text { grid-area: wide-2-text; } */


.grid-container-6 {  margin: 10%;height: 60%; margin: 0; }

.grid-container-6 * {
 position: relative;
}

.grid-container-6 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-6 {
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "desktop desktop desk-text desk-text" "mobile mobile mobile-text mobile-text";
}

.desktop { grid-area: desktop; background-image: url("./dd/fieldnote-scroll.gif"); background-size: contain; background-repeat: no-repeat;}

.mobile { grid-area: mobile; background-image: url("./dd/responsive-layout.gif"); background-size: cover; background-repeat: no-repeat;}

.desk-text { grid-area: desk-text; font-size: 0.7em; padding: 10%; }

.mobile-text { grid-area: mobile-text; font-size: 0.7em; padding: 10%;}

.vimeo {
  padding:0;
  margin:0;
}

p#italic {
  font-style: italic;
}

.grid-container-7 { height: 60%; margin: 0; }

.grid-container-7 * {
 position: relative;
}

.grid-container-7 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.44fr 0.44fr;
  grid-template-areas: "ix-text-1 ix-text-1 ix-img-1 ix-img-1" "ix-img-2 ix-img-2 ix-text-2 ix-text-2";
}

.ix-text-1 { grid-area: ix-text-1;   background-image: url("./dd/wid-hover.gif");
  background-size: contain;
  background-repeat: no-repeat; }

.ix-img-2 { grid-area: ix-img-2; font-size: 0.7em; padding: 10%; }

.ix-img-1 { grid-area: ix-img-1; font-size: 0.7em; padding: 10%; }

.ix-text-2 { grid-area: ix-text-2;   background-image: url("./dd/transcript.gif");
  background-size: contain;
  background-repeat: no-repeat; }




/* -------------------- DESKTOP QUERY (if > 650px)  ----------------------- */
@media screen and (min-width: 650px)  {
}


/* -----------------------  MOBILE QUERY (if < 650px) ----------------------- */
@media screen and (max-width: 650px)  {
}
