/* .sec-1 {
  width: 50%;
  position: absolute;
  left:0;
  top:0;
} */

/* -------------- FONTS  ------------------------------- */
@font-face {
  font-family: gangsterGrotesk;
  src: url(./fonts/GangsterGrotesk-Regular.otf);
}

@font-face {
  font-family: helveticaNeue;
  src: url(./fonts/Helvetica-Neue-LT-Std-53-Extended.ttf);
}

@font-face {
  font-family: universExtended;
  src: url(./fonts/Univers-93-Extra-Black-Extended.ttf);
}

@font-face {
  font-family: CosiTimes;
  src: url(./fonts/CosiTimes-Roman.otf);
}

@font-face {
  font-family: spaceMono;
  src: url(./fonts/SpaceMono-Regular.ttf);
}


/* -------------- DOT GRID BG  ------------------------------- */


.dot-grid {
  background-image: linear-gradient(transparent 0px, transparent 1px, rgb(255, 255, 255) 1px, rgb(255, 255, 255) 20px), linear-gradient(to right, rgb(200, 195, 199) 0px, rgb(200, 195, 199) 1px, rgb(255, 255, 255) 1px, rgb(255, 255, 255) 20px);
  background-position: -233px 0px;
  background-size: 5px 5px;
  min-width: 100%;
  max-height: 100vh;
  user-select: none;
}


/* -------------- IMAGE PREVIEW QUERIES ------------------------------- */


#pbp-img-preview {
  width: 100%;
  height: 100% !important;
  position:absolute;
  padding: 5%:
}


/* -------------- FIRST GRID CONTAINER -------------------------------------------- */

html, body, .grid-container { background-color: white;max-width: 100%; max-height:100vh; margin: 0; font-family: helveticaNeue; overflow-x: hidden;}


 .title {
   width: 100%;
   font-family: helveticaNeue;
   padding-top: 7%;
   font-size: 1em;
   padding-bottom: 2%;
 }

  .time, .time-2, .bio, .members {
    font-size: 0.65em;
    line-height: 14px;
    font-family: helveticaNeue;
    margin-bottom: 10%;
    padding: 2%;
    width: 80%;
  }

  .time p{
      font-weight: 1000;
      border:none;
      font-size: 1.3em;
  }

  .time-2 p {
    font-weight: 1000;
    border: none;
    font-size: 1.3em;

  }

  .members p {
    font-weight: 1000;
    font-size: 1.3em;
    border: none;
  }

/* -----------------    GRID CONTAINER 1      ----------------------------------- */


.grid-container * {
 position: relative;
}

.grid-container *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.8fr 1.8fr;
  grid-template-areas: "title title title title" "bio bio timeline members" "project-desc project-desc image image";
}

.title { grid-area: title;  }

.bio { grid-area: bio; }

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "time time time" "time-2 time-2 time-2";
  grid-area: timeline;
}

.time { grid-area: time; border: none;}

.time-2 { grid-area: time-2; border: none;}

.members { grid-area: members; }

.image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." ". . .";
  grid-area: image;
  background-image: url("./pbp/pbp-spots.gif");
  padding: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
}

.project-desc { grid-area: project-desc; width: 90%;height: 400px; background-image: url("./pbp/pbp-preview.gif"); background-size: cover; background-repeat: no-repeat;}


/* -------------- GRID CONTAINER - 2 -------------------------------------------- */

.grid-container-2 { max-width: 100%; height: 95vh; margin: 0; font-family: helveticaNeue; margin-top: -25%;}

.grid-container-2 * {
 position: relative;
}

.grid-container-2 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-2 {
  font-family: helveticaNeue;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
  grid-template-rows: 1fr 0fr 1fr;
  grid-template-areas: "img-1 img-1 img-2 img-2" "img-1-desc img-1-desc img-2-desc ." "new- new- new- new-";
}

.img-1 { grid-area: img-1; background-color: white; font-family:helveticaNeue; font-size: 0.6em; line-height: 15px; padding: 10%;}
p#title { border: none; font-size: 1.6em; padding: 0%; margin-top: -2%;}
.img-2 { grid-area: img-2; background-color: white; font-family: helveticaNeue; font-size: 0.6em; line-height: 15px;padding: 10%;}

.img-1-desc { grid-area: img-1-desc; font-family: helveticaNeue; color: #75c044; text-transform: capitalize;letter-spacing: 0px; font-size: 2em; padding: 12%; background-color: white; width: 100vw; }
.img-2-desc { grid-area: img-1-desc; font-size: 0.8em; padding: 12%; background-color: white;}

.new- { grid-area: new-; background-image: url("./pbp/global-brand-values.png"); background-repeat: no-repeat; background-size: contain; padding: 10%; height:100%; background-color: white;;}

#pbp-logo { width: 20%; border: none; display: inline; padding:0;}

#logo { width: 350px; }

.grid-container-2-2 { height: 50vh; margin: 0; }

.grid-container-2-2 * {
 position: relative;
}

.grid-container-2-2 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "gif-1 gif-1 gif-2 gif-2" "gif-1 gif-1 gif-2 gif-2";
}

.socials {
  border: 1px solid black;
  width: 100vw;
}

.gif-1 { grid-area: gif-1; background-image: url("./pbp/30-mill.gif"); background-size: contain; background-repeat: no-repeat; width: 90%;}

.gif-2 { grid-area: gif-2;background-image: url("./pbp/how-to-park.gif"); background-size: contain; background-repeat: no-repeat; width: 90%;}

/* -----------------    GRID CONTAINER 3      ----------------------------------- */

.grid-container-3 { max-width: 100%; height: 500px; margin: 0; font-family: helveticaNeue;}


.grid-container-3 * {
 position: relative;
}

.grid-container-3 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "text text icon-pic icon-pic" "text text icon-pic-2 icon-pic-2" "text text icon-pic3 icon-pic3";
}

.text { grid-area: text; background-color: white; padding: 12%; font-size:  0.6em; }

.icon-pic { grid-area: icon-pic; background-image: url("./pbp/brand-values-launch.jpeg"); background-color: white;background-size: contain; background-repeat: no-repeat;}

/* .icon-pic-2 { grid-area: icon-pic-2; background-image: url("all-hands-1.jpg"); background-color: white; background-size: cover; background-repeat: no-repeat;} */

/* .icon-pic3 { grid-area: icon-pic3; background-image: url("all-hands-2.jpg"); background-color: white;background-size: cover; background-repeat: no-repeat; } */

.grid-container-4 { height: 100vh; margin: 0; margin-top: -25%; }

.grid-container-4 * {
 position: relative;
}

.grid-container-4 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.4fr 1fr;
  grid-template-areas: "icon-2 icon-2 icon-2 icon-2" "career-compass career-compass career-compass career-compass" ". . . .";
}

.icon-2 { grid-area: icon-2;font-family: helveticaNeue; color: #75c044; text-transform: capitalize;letter-spacing: 0px; font-size: 2em; padding: 4%; background-color: white; width: 100vw; }

.career-compass { grid-area: career-compass; background-image: url("./pbp/career-compass-icons.png"); background-size: contain; background-repeat: no-repeat;}

#career-compass-text { font-size: 0.6em; line-height: 15px; width: 550px; padding-left: 18%; padding-right: 10%;}

.grid-container-5 { height: 100vh; margin: 0; margin-top: -15%; padding-left: 14%; padding-right: 10%; margin-bottom: 10%;}

.grid-container-5 * {
 position: relative;
}

.grid-container-5 *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "career-page-mockup career-page-mockup" "career-page-mockup career-page-mockup";
}

.career-page-mockup { grid-area: career-page-mockup; background-image: url("./pbp/careers-page-2.png"); background-size: contain; background-repeat: no-repeat; width: 600px; height: 100%;}

.internal-values {
  background-image: url("./pbp/internal-values.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  margin-bottom: 2%;
}

.internal-value-text {
  font-size: 0.65em; line-height: 15px; width: 550px; padding-left: 0%; padding-bottom: 2%;
}

/* -------------------- DESKTOP QUERY (if > 650px)  ----------------------- */
@media screen and (min-width: 650px)  {
}


/* -----------------------  MOBILE QUERY (if < 650px) ----------------------- */
@media screen and (max-width: 650px)  {
}
