@font-face {
  font-family: gangsterGrotesk;
  src: url(./fonts/GangsterGrotesk-Regular.otf);
}

@font-face {
  font-family: helveticaNeue;
  src: url(./fonts/Helvetica-Neue-LT-Std-53-Extended.ttf);
}

@font-face {
  font-family: universExtended;
  src: url(./fonts/Univers-93-Extra-Black-Extended.ttf);
}

.wrapper {
  padding: 1em;
}

html {
  overflow: auto;
  max-height: 100vw;
  max-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: gangsterGrotesk;
}

p {
    font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.top-nav{
  top:5vh;
  transform: scale(1.4);
  right: 5vw;
  position: absolute;
}

#name {
  display: inline;
  font-size: calc(4em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  width: 100px;
  margin-left: 2%;
  font-family: helveticaNeue;
}

/* ------------------------ SOCIAL MEDIA + CONTACT ---------------------*/
#contact {
  font-family: helveticaNeue;
  display: inline;
  font-size: calc(0.1rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 0.09em;
  height: auto;
  margin-top: 20px;
  margin-left: 12px;
  width: 200px;
  position: absolute;
}

#contact p {
  display: inline;
}

.deco {
  position: absolute;
  display: block;
  left: 10px;
}

.rotate {
/* Safari */
-webkit-transform: rotate(90deg);
/* Firefox */
-moz-transform: rotate(90deg);
/* IE */
-ms-transform: rotate(90deg);
/* Opera */
-o-transform: rotate(90deg);

margin-top: 14px;
margin-left: 20px;
}

/* ------------------------ MAIN CONTENT ---------------------*/

#main {
  width: 100%;
  margin-top: 8em;
  height: 50%;
  display: block;
  justify-content: center;
  font-family: helveticaNeue;
}

#sec-1 {
  width: 100%;
  display: block;
  line-height: 150%;
}

#small {
  font-size: calc( 0.8em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
/* -----------------------  FOOTER  ---------------------*/

#footer {
  display: block;
  position: absolute;
  width: 100%;
  max-height: 20%;
  background-color: white;
}

#footer-wrapper {
  display: block;
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
}

@media screen and (max-width: 700px)  {
  .top-nav {
    transform: scale(1.3);
    top: 5vh;
    right: 5vw;
  }

  #contact p {
  font-size: 3.5em;
  letter-spacing: 0.09em;
  }

}
